.wrapper {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

@media screen and (max-width: 479px) {
  .wrapper {
    flex-direction: column;
    justify-content: start;
    gap: 8px;
  }
}

@media screen and (min-width: 480px) {
  /*  */
}
