.info {
  width: 100%;
  font-size: 12px;
  color: var(--color-text-primary);
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.title {
  font-size: 16px;
  text-align: center;
  color: var(--color-text-secondary);
}

.year {
  font-size: 14px;
  line-height: 1.15;
  color: var(--color-text-primary);
}

.data-box {
  position: relative;

  margin-bottom: 4px;
  min-height: 64px;
}

.data-box-inner {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-weight: 500;
  color: var(--color-text-secondary);
}

.rate {
  position: absolute;
  top: 0;
  right: 0;

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.rate-label {
  display: none;
}

.genres,
.countries,
.title-original,
.release-date {
  padding-right: 40px;
}

.genre-item {
  padding: 4px;
}

.tagline {
  margin-bottom: 8px;

  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.companies {
  margin-top: 8px;
}

.companies-list {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
}

.companies-list > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-thumb {
  display: flex;
  justify-content: center;
  height: 16px;
  max-width: 96px;
  object-fit: cover;

  background-color: var(--color-text-secondary);
}

.company-name {
  font-size: 10px;
  text-align: center;
}

@media screen and (max-width: 479px) {
  .companies {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .info {
    padding: 8px 0;
  }

  .companies-list {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .info {
    font-size: 14px;
  }

  .heading {
    margin-bottom: 8px;
  }

  .title {
    font-size: 24px;
  }

  .year {
    font-size: 16px;
  }

  .tagline {
    text-align: center;
    font-size: 12px;
  }

  .data-box {
    min-height: 72px;
    margin-bottom: 8px;
  }

  .data-box-inner {
    gap: 8px;
  }

  .rate {
    top: 8px;
    right: 8px;
  }

  .genres,
  .countries,
  .title-original,
  .release-date {
    padding-right: 56px;
  }
}

@media screen and (min-width: 768px) {
  .info {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 16px;
    overflow: scroll;
  }

  .tagline {
    text-align: right;
  }

  .genres,
  .countries,
  .title-original,
  .release-date {
    padding-right: 120px;
  }

  .data-box {
    margin-bottom: 8px;
    min-height: 90px;
  }

  .rate-label {
    display: block;
  }

  .companies {
    margin-top: auto;
  }

  .companies-label {
    display: none;
  }
}

@media screen and (min-width: 1040px) {
  .info {
    font-size: 20px;
  }

  .title {
    font-size: 32px;
  }

  .year {
    font-size: 20px;
  }

  .tagline {
    font-size: 16px;
  }

  .company-name {
    font-size: 12px;
  }

  .tagline,
  .data-box,
  .descr {
    margin-bottom: 16px;
  }

  .data-box-inner {
    gap: 16px;
  }

  .genres,
  .countries,
  .title-original,
  .release-date {
    padding-right: 0;
  }
}
