.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 4px;
  background-color: var(--color-text-secondary);
  color: var(--bgc-primary);
  border-radius: 12px;
  border: 1px solid var(--color-text-main);
  transition: background-color 250ms linear, color 250ms linear,
    border-color 250ms linear;
}

.logo-wrapper:hover,
.logo-wrapper:focus {
  background-color: #efefef;
  color: var(--color-text-secondary);
  border-color: black;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .logo-img {
  width: 32;
  height: 32;
} */

.label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}
