.layout {
  background-color: var(--bgc-primary);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 8px 0;
  background-color: var(--bgc-secondary);
}

.main-content {
  flex-grow: 1;
}

.footer {
  /* outline: 2px dashed tomato; */
  width: 100%;
  min-height: 40px;
  display: flex;

  background-color: var(--bgc-secondary);
}
