.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 32px;
}

.item {
  /* outline: 1px dashed teal; */
  flex-basis: calc((100% - 0 * 32px) / 1);
  /* 
  calc((100% - кіль-сть_відступів_в_рядку * значення_одного_рядка) / кіль-сть_елементів_в_рядку)
 */
  display: flex;
}

@media screen and (min-width: 480px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .item {
    flex-basis: calc((100% - 1 * 32px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .item {
    flex-basis: calc((100% - 2 * 32px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .item {
    flex-basis: calc((100% - 3 * 32px) / 4);
  }
}

@media screen and (min-width: 1360px) {
  .item {
    flex-basis: calc((100% - 4 * 32px) / 5);
  }
}
