.section {
  padding: 8px 0;
}

.form-wrapper {
  margin-bottom: 8px;
}

@media screen and (min-width: 480px) {
  .section {
    padding: 16px 0;
  }

  .form-wrapper {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1040px) {
  .section {
    padding: 24px 0;
  }

  .form-wrapper {
    margin-bottom: 24pxpx;
  }
}
