.wrapper {
  /* outline: 3px dashed tomato; */
  flex-grow: 1;
  padding: 8px 0;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  text-decoration: none;
  font-style: normal;
}

.label {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--color-text-main);
  font-size: 12px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.icon-trident-wrapper {
  /* outline: 1px dashed teal; */
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-trident {
  fill: currentColor;
}

.author {
  color: var(--color-text-main);
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.author a {
  color: var(--color-text-main);
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  transition: color 250ms linear;
}

.author a:hover,
.author a:focus {
  color: var(--color-text-secondary);
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 16px 0;
  }

  .text {
    flex-direction: row-reverse;
    gap: 0;
    justify-content: space-around;
  }

  .label,
  .author,
  .author a {
    font-size: 14px;
  }
}
