.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0;
}

.heading {
  color: var(--color-text-secondary);
  text-align: center;
  font-size: 16px;
}

.suspense {
  display: flex;
  flex-direction: column;
  min-height: 204px;

  background: var(--suspense-gradient),
    url(../../assets//images/cinema-element.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 50% bottom 0;
}

@media screen and (min-width: 420px) {
  .suspense {
    min-height: 256px;
  }
}

@media screen and (min-width: 480px) {
  .heading {
    font-size: 20px;
  }

  .wrapper {
    padding: 16px 0;
    gap: 16px;
  }

  .suspense {
    min-height: 264px;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    gap: 24px;
    padding: 24px 0;
  }

  .suspense {
    min-height: 420px;

    background: var(--suspense-gradient),
      url(../../assets//images/cinema-element-x2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 50% bottom 0;
  }
}

@media screen and (min-width: 1040px) {
  .suspense {
    min-height: 480px;
  }
}

@media screen and (min-width: 1600px) {
  .suspense {
    min-height: 560px;
  }
}
