.card {
  /* outline: 3px dashed red; */
  display: flex;
  flex-direction: column;
  gap: 8px;

  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  background-color: var(--bgc-secondary);
  transition: rotate 250ms linear;
}

.thumb {
  position: relative;
  aspect-ratio: 2/3;
}

.image {
  max-width: 100%;
  object-fit: cover;
}

.rate {
  position: absolute;

  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  transition: rotate 250ms linear, left 500ms linear;
}

.info {
  /* outline: 1px dashed gray; */
  display: flex;
  flex-direction: column;
  gap: 4px;

  padding: 16px 16px 8px 16px;
  color: var(--color-text-primary);
  flex-grow: 1;
}

.title {
  margin-bottom: auto;

  font-size: 20px;
  color: #2e859e;
  transition: color 250ms linear, text-decoration 250ms linear;
}

.info-text {
  font-size: 14px;
}

.year {
  font-weight: 500;
}

.card:hover,
.card:focus {
  rotate: 3deg;
}

.card:hover .title,
.card:focus .title {
  color: var(--color-accent);
  text-decoration: underline;
}

.card:hover .rate,
.card:focus .rate {
  rotate: 3deg;
  left: 90%;
}

/* @media screen and (min-width: 768px) {
} */
